h1 {
    font-family: Roboto, Open Sans, sans-serif;
    text-align: center;
}
h2 {
    font-family: Roboto, Open Sans, sans-serif;
    text-align: center;
}
h3 {
    font-family: Roboto, Open Sans, sans-serif;
}
h4 {
    font-family: Roboto, Open Sans, sans-serif;
    text-align: center;
}
p {
    font-family: Roboto, Open Sans, sans-serif;
}
a {
    font-family: Roboto, Open Sans, sans-serif;
}
li {
    font-family: Roboto, Open Sans, sans-serif;
}
body {
    background-color: #E5E5E5;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #0a7029;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    padding-top: 5%;
    padding-right: 5%;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #E5E5E5;
    color: black;
  }

  /* Main content */
.main {
    margin-top: 10%; /* Add a top margin to avoid content overlay */
  }

/* Post content */
.activitylog {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.activitypost {
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 60%;
    height: 50px;  
    border-radius: 5px;
    background-color: #C4C4C4;
    font-family: Roboto, Open Sans, sans-serif;
}

#posttime {
  padding-left: 70%;
  font-size:smaller;
}